* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:600px){
    header{
        position:static;
        height:auto;
        margin-bottom:0;
    }
    .hero-main{
        margin-top:0;
    }
    .navbar{
        padding-bottom:0;
    }
    .about-hero-section{
        margin-top:0;
        padding-top:0;
    }
}

